<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{{ page_title or "Soteria" }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/global.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/dashboard.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/scanner.css') }}">

</head>

<body>

<div class="app-layout">

    {% include "components/sidebar.html" %}

    <main class="main-content">

        {% include "components/topbar.html" %}

        {% block page_content %}
        {% endblock %}

    </main>

</div>

</body>
{% block scripts %}
{% endblock %}
</html>