{% extends "base.html" %}

{% block page_content %}

<div class="page-container">

    <form>

        <div class="email-container">

            <div class="email-box">

                <label>Password</label>

                <input
                    type="password"
                    id="passwordInput"
                    placeholder="Enter a password to analyze">

                <p class="input-hint">
                    Enter a password to analyze its strength, dictionary words and how long it will take for hackers to crack it.
                </p>

            </div>

            <div class="privacy-notice">

                <img
                    src="{{ url_for('static', filename='images/icons/lock.svg') }}"
                    class="privacy-icon">

                <div class="privacy-content">

                    <h4>Privacy Guarantee</h4>

                    <p>
                        Your password is analyzed locally and is never stored or logged.
                    </p>

                </div>

            </div>

            <button
                type="submit"
                class="scan-button scan-submit">

                <img
                    src="{{ url_for('static', filename='images/icons/scan-search.svg') }}"
                    class="button-icon scan-icon">

                <div class="button-spinner hidden"></div>

                <span class="scan-text">
                    Analyze Password
                </span>

            </button>

        </div>

    </form>

</div>

{% endblock %}